/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PICARD_CROSSCHECKFINGERPRINTS' {
        ext.args = {
            [
                '--CROSSCHECK_BY FILE',
                '--CALCULATE_TUMOR_AWARE_RESULTS true',
                "--ALLOW_DUPLICATE_READS ${params.fingerprint_allow_duplicate_reads}",
                '--EXIT_CODE_WHEN_MISMATCH 0'
            ].join(' ').trim()
        }
        ext.prefix = 'crosscheck'
        publishDir = [
            path: { "${params.outdir}/fingerprintcheck" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTQSCREEN_FASTQSCREEN' {
        ext.args = {
            [
                "--aligner bowtie2",
                "--paired",
                "--subset ${params.fastqscreen_subset}"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/fastqscreen" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DRAGEN_CNV_QC' {
        ext.args = {
            [
                '--plot-purcov-maxmodel=false',
                params.pmad_max ? "--pmad_max \"$params.pmad_max\"" : '',
                params.coverage_mad_max ? "--coverage_mad_max \"$params.coverage_mad_max\"" : '',
                params.outlier_baf_fraction_max ? "--outlier_baf_fraction_max \"$params.outlier_baf_fraction_max\"" : '',
                params.diploid_coverage_min ? "--diploid_coverage_min \"$params.diploid_coverage_min\"" : '',
                params.purity_min ? "--purity_min \"$params.purity_min\"" : '',
                params.purity_max ? "--purity_max \"$params.purity_max\"" : '',
                params.ploidy_min ? "--ploidy_min \"$params.ploidy_min\"" : '',
                params.ploidy_max ? "--ploidy_max \"$params.ploidy_max\"" : '',
                params.post_norm_sigma_max ? "--post_norm_sigma_max \"$params.post_norm_sigma_max\"" : '',
                params.num_segments_max ? "--num_segments_max \"$params.num_segments_max\"" : '',
                params.filtered_records_relative_max ? "--filtered_records_relative_max \"$params.filtered_records_relative_max\"" : '',
                params.homozygosity_index_max ? "--homozygosity_index_max \"$params.homozygosity_index_max\"" : '',
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/cnv-metrics" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
