/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PICARD_CROSSCHECKFINGERPRINTS' {
        ext.args = {
            [
                '--CROSSCHECK_BY FILE',
                '--CALCULATE_TUMOR_AWARE_RESULTS true',
                "--ALLOW_DUPLICATE_READS ${params.fingerprint_allow_duplicate_reads}",
                '--EXIT_CODE_WHEN_MISMATCH 0'
            ].join(' ').trim()
        }
        ext.prefix = 'crosscheck'
        publishDir = [
            path: { "${params.outdir}/fingerprintcheck" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTQSCREEN_FASTQSCREEN' {
        ext.args = {
            [
                "--aligner bowtie2",
                "--paired",
                "--subset ${params.fastqscreen_subset}"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/fastqscreen" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
